.App {
  padding: 20px;
  margin: auto;
}

.btnGroup{
  margin-top: 8px;
  display: flex;
}

.highlightedBtn{
  background-color: gray;
  color:aliceblue;
}

.result{
  margin-top: 8px;
  display: flex;
  font-size: large;
}